.form-control{
    width: 50%;
}
.login-content{
    height: 100vh;
    padding-top: 15%;
}
.card{
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(37, 35, 35);
}
input{
    min-width: 300px;
}