input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-row{
    padding-top: 10px;
}
.login-content{
    min-height: 100vh;
    padding-top: 5%;
}
.card{
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(37, 35, 35);
    border: 2px solid rgb(131, 131, 131);
}
form{
    padding-top: 50px;
}
.err{
    color: red; 
    font-size: smaller;
    margin: auto;
}