table{
    border-style: hidden;
}

a{
    color: rgb(180, 180, 180);
}
a:hover{
    text-decoration: none;
    color: aliceblue;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.offers-content{
    min-height: 100vh;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

.offer{
    width: 100%;
    height: 150px;
    background-color: #333;
    border-radius: 25px;
    margin-bottom: 10px;
}
.offer .offer-img{
    padding: 10px;
    width: 250px;
}
.offer .offer-title{
    font-size: large;
    
}
.card{
    background-color: #333;
    border: 2px solid rgb(131, 131, 131);
}