<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorator="layout">
  <head>
    <title>Login</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/change.css">
  </head>
  <body>
      
    <section layout:fragment="content">
      <!-- login / rejestracja -->
      <div class="login-content">
        <div class="card">
          <div class="card-body">
            <!-- login form -->
            <form id="login_form" action="">
                <!-- login input -->
                <div class="form-group d-flex justify-content-center">
                  <input type="email" class="form-control" placeholder="Nowy e-mail">
                </div>
                <div class="form-group d-flex justify-content-center">
                    <input type="email" class="form-control" placeholder="Powtóż nowy e-mail">
                </div>

                <!-- password input -->
                <div class="form-group d-flex justify-content-center">
                  <input type="password" class="form-control" placeholder="Hasło">
                </div>
                <div class="d-flex justify-content-center">
                    <a href="/account" class="btn btn-secondary mb-2">Anuluj</a>
                    <a href="/account" type="submit" class="btn btn-success mb-2" style="margin-left: 10px;">Zmień e-mail</a>
                </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>