<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorator="layout">
  <head>
    <title>Login</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/change.css">
  </head>
  <body>
      
    <section layout:fragment="content">
      <!-- login / rejestracja -->
      <div class="login-content">
        <div class="card">
          <div class="card-body">
            <!-- login form -->
            <form id="change_passwd_form" action="/change_passwd/change" th:object = "${changePassword}" method="POST">
                <!-- login input -->
                <div class="form-group d-flex justify-content-center">
                  <div class="col-md-4 d-flex justify-content-end">
                    Nowe hasło:
                  </div>
                  <div class="col-md">
                    <input type="password" class="form-control" placeholder="Nowe hasło" th:field = "*{newPassword}" pattern="[A-Za-z0-9]{5,45}" required>
                  </div>
                </div>
                <div class="form-group d-flex justify-content-center">
                  <div class="col-md-4 d-flex justify-content-end">
                    Powtóż nowe hasło:
                  </div>
                  <div class="col-md">
                    <input type="password" class="form-control" placeholder="Powtóż nowe hasło" th:field = "*{reNewPassword}" pattern="[A-Za-z0-9]{5,45}" required>
                  </div>
                </div>
                <!-- password input -->
                <div class="form-group d-flex justify-content-center">
                  <div class="col-md-4 d-flex justify-content-end">
                    Obecne hasło: 
                  </div>
                  <div class="col-md">
                    <input type="password" class="form-control" placeholder="Potwierdź obecnym hasłem" th:field = "*{currentPassword}" pattern="[A-Za-z0-9]{5,45}" required>
                  </div>
                </div>
                
                <span class="d-flex justify-content-center form-group" style="color: red; font-size: small;" th:text = "${err}"></span>

                <div class="d-flex justify-content-center">
                  <a href="/account" class="btn btn-secondary mb-2" style="margin-right: 5px;">Anuluj</a>
                  <input type="submit" class="btn btn-success mb-2" value="Zmień hasło" style="margin-left: 5px; min-width: 150px;"/>
                </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>