<!doctype html>
<html lang="en">
  <head>
    <title>Home</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="text/javascript" src="/js/functions.js"></script>

    <!-- for liveserver purposes -->
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/functions.js"></script>
    <!--  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  
  <body>
    
<!-- navbar-->
    <nav class="navbar navbar-dark">
      <ul class="nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Strona główna<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item text-white">
          <a class="nav-link" href="/offers">Oferty</a>
        </li>
        <li class="nav-item">
          <a id="account-nav" class="nav-link" href="/login" >Konto</a>
        </li>
      </ul>
    </nav>

<!-- main site content || or input here changing content on the page something like content-placeholder -->
    <div class="main-content">
      <div layout:fragment="content" class="content"></div>
    </div>

<!-- footer -->
    <!-- footer -->
    <footer>
      <div class="d-flex justify-content-center">&copy Łukasz Żółkiewski</div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>