<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorator="layout">
  <head>
    <title>Login</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/login.css">
  </head>
  <body>
      
    <section layout:fragment="content">
      <!-- login / rejestracja -->
      <div class="login-content">
        <div class="card">
          <div class="card-body">
            <!-- switch buttons -->
            <div class="d-flex justify-content-center" style="padding-bottom: 20px;">
              <button id="login_btn_switch" type="button" class="btn btn-secondary active" style="width: fit-content; margin-right: 5px;" onclick="login_switch()">Logowanie</button>
              <button id="sign_up_btn_switch" type="button" class="btn btn-secondary" style="width: fit-content; margin-left: 5px;" onclick="sign_up_switch()">Rejestracja</button>
            </div>
            <!-- login / sing up form -->
            <form id="login_form" th:action="@{/login/createSession}" method="post" th:object = "${user}">

              <!-- login input -->
              <div class="form-group d-flex justify-content-center">
                <input type="email" class="form-control" th:field="*{email}" placeholder="E-mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
              </div>
              
              <!-- password input -->
              <div class="form-group d-flex justify-content-center">
                <input type="password" class="form-control" th:field="*{password}" placeholder="Hasło" pattern="[A-Za-z0-9]{5,45}" required>
              </div>
              
              <!-- repeat password input -->
              <div class="form-group d-flex justify-content-center">
                <input id="repeat_password" type="password" class="form-control" th:field="*{rePassword}"  placeholder="Powtórz hasło" pattern="[A-Za-z0-9]{5,45}" onblur="validate()" hidden>
              </div>

              <div class="form-group d-flex justify-content-center">
                <span th:text = "${warning}" style="color: red; font-size: small;"></span>
              </div>

              <div class="d-flex justify-content-center">
                <input id="login_btn" type="submit" class="btn btn-success" value="Zaloguj" style="min-width: 150px;"/>
                <input id="sing_up_btn" type="submit" class="btn btn-success" value="Zarejestruj" style="min-width: 150px;" hidden/>
              </div>

            </form>



          </div>
        </div>
      </div>
    </section>

    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>