<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorator="layout">
  <head>
    <title>Oferty</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/offers.css">
  </head>
  <body>
      <section layout:fragment="content">
        
        <div class="offers-content">

<!-- ofert search -->
          <div class="collapse" id="search">
            <div class="card card-body">
              <div class="panel panel-default">
                <div class="panel-heading d-flex justify-content-center" style="margin-bottom: 20px;">Szukaj ofert</div>
                <div class="panel-body">
                  <form action="/offers" method="POST" th:object = "${offersFilter}" name="search-form"> 
<!-- inputs for area and price -->
                    <div class="form-inline">
                      <div class="input-group col-md-2">
                        Powierzchnia
                      </div>
                      <div class="input-group col-md-2">
                        <input type="number" class="form-control" th:field = "*{areaFrom}" placeholder="od" min="0">
                        <div class="input-group-append">
                          <span class="input-group-text">m2</span>
                        </div>
                      </div>
                      <div class="input-group col-md-2">
                        <input type="number" class="form-control" th:field = "*{areaTo}" placeholder="do" min="0">
                        <div class="input-group-append">
                          <span class="input-group-text">m2</span>
                        </div>
                      </div>
                      <div class="input-group col-md-2">
                        Cena
                      </div>
                      <div class="input-group col-md-2">
                        <input type="number" class="form-control" th:field = "*{priceFrom}" placeholder="od" min="0">
                        <div class="input-group-append">
                          <span class="input-group-text">zł</span>
                        </div>
                      </div>
                      <div class="input-group col-md-2">
                        <input type="number" class="form-control" th:field = "*{priceTo}" placeholder="do" min="0">
                        <div class="input-group-append">
                          <span class="input-group-text">zł</span>
                        </div>
                      </div>
                    </div>
<!-- selects with plot types and surroundings -->
                    <div class="form-inline">
                      <div class="form-group col-md-2">
                        Typ działki
                      </div>
                      <div class="input-group col-md-4">
                        <select class="form-control" th:field = "*{plotTypeId}">
                          <option value="">Typ działki</option>
                          <option th:each = "plotType : ${plotTypes}" th:value="${plotType.id}" th:text = "${plotType.name}"></option>
                        </select>
                      </div>
                      <div class="input-group col-md-2">
                        Otoczenie
                      </div>
                      <div class="input-group col-md-4">
                        <select class="form-control" th:field = "*{surroundingId}">
                          <option value="">Otoczenie</option>
                          <option th:each = "surrounding : ${surroundings}" th:value="${surrounding.id}" th:text = "${surrounding.name}"></option>
                        </select>
                      </div>
                    </div>
<!-- inputs with list of cities and countries -->
                    <div class="form-inline">
                      <div class="input-group col-md-2">
                        Miasto
                      </div>
                      <div class="input-group col-md-4">
                        <input class = "form-control" list="city-browsers" th:field = "*{city}">
                        <datalist id="city-browsers">
                          <option th:each = "city : ${cities}" th:value = "${city.name}">
                        </datalist>
                      </div>
                      <div class="input-group col-md-2">
                        Państwo
                      </div>
                      <div class="input-group col-md-4">
                        <input class = "form-control" list="country-browsers" th:field = "*{country}">
                        <datalist id="country-browsers">
                          <option th:each = "country : ${countries}" th:value = "${country.name}">
                        </datalist>
                      </div>
                    </div>
<!-- checkboxes for fence and building on the plot -->
                    <div class="form-inline">
                      <div class="input-group col-md-2">
                        Ogrodzenie
                      </div>
                      <div class="input-group col-md-4">
                        <input class="form-check-input" type="checkbox" th:field = "*{fence}">
                      </div>
                      <div class="input-group col-md-2">
                        Budynek
                      </div>
                      <div class="input-group col-md-4">
                        <input class="form-check-input" type="checkbox" th:field = "*{building}">
                      </div>
                    </div>
<!-- apply button -->
                    <div class="d-flex justify-content-center" style="margin: 10px;">
                      <a href="/offers/reset" class="btn btn-secondary" style="margin-right: 5px">Reset</a>
                      <input type="submit" value="Szukaj" class="form-control btn-light" style="width: 100px;"/>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
<!-- plot planer -->
          <div class="collapse" id="planer">
            <div class="card card-body">
              <div class="panel panel-default">
                <div class="panel-heading d-flex justify-content-center" style="margin-bottom: 20px;">Planer</div>
                <div class="panel-body">
                  <form action="/offers" method="POST" th:object = "${planer}">
<!-- building inputs -->
                    <div class="form-inline">
                      <div class="input-group col-md-3">
                        Długość budynku
                      </div>
                      <div class="input-group col-md-3">
                        <input type="number" class = "form-control" th:field = "*{homeLength}" min="0">
                        <div class="input-group-append">
                          <span class="input-group-text">m</span>
                        </div>
                      </div>
                      <div class="input-group col-md-3">
                        Szerokość budynku
                      </div>
                      <div class="input-group col-md-3">
                        <input type="number" class = "form-control" th:field = "*{homeWidth}" min="0">
                        <div class="input-group-append">
                          <span class="input-group-text">m</span>
                        </div>
                      </div>
                    </div>
<!-- garage inputs -->
                    <div class="form-inline">
                      <div class="input-group col-md-3">
                        Długość garażu
                      </div>
                      <div class="input-group col-md-3">
                        <input type="number" class = "form-control" th:field = "*{parkingLength}" min="0">
                        <div class="input-group-append">
                          <span class="input-group-text">m</span>
                        </div>
                      </div>
                      <div class="input-group col-md-3">
                        Szerokość garażu
                      </div>
                      <div class="input-group col-md-3">
                        <input type="number" class = "form-control" th:field = "*{parkingWidth}" min="0">
                        <div class="input-group-append">
                          <span class="input-group-text">m</span>
                        </div>
                      </div>
                    </div>
<!-- garden inputs -->
                    <div class="form-inline">
                      <div class="input-group col-md-3">
                        Długość ogrodu
                      </div>
                      <div class="input-group col-md-3">
                        <input type="number" class = "form-control" th:field = "*{gardenLength}" min="0">
                        <div class="input-group-append">
                          <span class="input-group-text">m</span>
                        </div>
                      </div>
                      <div class="input-group col-md-3">
                        Szerokość ogrodu
                      </div>
                      <div class="input-group col-md-3">
                        <input type="number" class = "form-control" th:field = "*{gardenWidth}" min="0">
                        <div class="input-group-append">
                          <span class="input-group-text">m</span>
                        </div>
                      </div>
                    </div>
<!-- checkboxes for well and sewage -->
                    <div class="form-inline">
                      <div class="input-group col-md-3">
                        Otoczenie
                      </div>
                      <div class="input-group col-md-3">
                        <select class="form-control" th:field = "*{surroundingId}" style="width: 100%;">
                          <option value="">Otoczenie</option>
                          <option th:each = "surrounding : ${surroundings}" th:value="${surrounding.id}" th:text = "${surrounding.name}"></option>
                        </select>
                      </div>
                      <div class="input-group col-md-2">
                        Studnie
                      </div>
                      <div class="input-group col-md-1">
                        <input class="form-check-input" type="checkbox" th:field = "*{well}">
                      </div>
                      <div class="input-group col-md-2">
                        Szambo
                      </div>
                      <div class="input-group col-md-1">
                        <input class="form-check-input" type="checkbox" th:field = "*{sewage}">
                      </div>
                    </div>
<!-- inputs with list of cities and countries -->
                    <div class="form-inline">
                      <div class="input-group col-md-3">
                        Miasto
                      </div>
                      <div class="input-group col-md-3">
                        <input class = "form-control" list="city-browsers" th:field = "*{city}">
                        <datalist id="city-browsers">
                          <option th:each = "city : ${cities}" th:value = "${city.name}">
                        </datalist>
                      </div>
                      <div class="input-group col-md-3">
                        Państwo
                      </div>
                      <div class="input-group col-md-3">
                        <input class = "form-control" list="country-browsers" th:field = "*{country}">
                        <datalist id="country-browsers">
                          <option th:each = "country : ${countries}" th:value = "${country.name}">
                        </datalist>
                      </div>
                    </div>
<!-- apply button -->
                    <div class="d-flex justify-content-center" style="margin: 10px;">
                      <a href="/offers/reset" class="btn btn-secondary" style="margin-right: 5px">Reset</a>
                      <input type="submit" value="Szukaj" class="form-control btn-light" style="width: 100px;"/>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
<!-- explaination -->
          <div class="collapse" id="explaination">
            <div class="card card-body">
              <div class="panel panel-default">
                <div class="panel-heading d-flex justify-content-center" style="margin-bottom: 20px;">Co oznacza pomarańczowa ramka?</div>
                <div class="panel-body" style="margin-bottom: 20px;">
                  Pomarańczowa ramka mówi o tym że dana oferta spełnia nasze wymagania maksymalnie w 90%. Przeglądając daną ofertę należy pamiętać o tym, 
                  że należy przemyśleć nasze wymagania. 
                </div>
                <div class="panel-heading d-flex justify-content-center">
                  <i class="fa fa-exclamation-triangle" style="padding-bottom: 0; color: red;" ></i>
                </div>
                <div class="panel-body">
                  Użytkownik powinien pamiętać, że aplikacja do działania wykorzystuje warunki techniczne dotyczące jedynie rozmieszczenia obieków na działce.
                  Przed kupnem należy skontaktować się ze specjalistą w celu konsultacji planów związanych z daną działką. Na możliwość budowy konkretnego budynku 
                  wpływa jeszcze wiele nie zawartych w tej aplikacji czynnikow.
                </div>
              </div>
            </div>
          </div>
<!-- search toggle / planer toggle / explaination toggle -->
          <form action="/offers" method="GET" th:object="${offerSorter}" id="offerSorterForm">
            <div class="d-flex bd-highlight mb-3">
              <div class="mr-auto p-2 bd-highlight">
                <a class="btn btn-secondary" data-toggle="collapse" href="#search" role="button" aria-expanded="false" aria-controls="collapseExample">Filtry</a>
                <a class="btn btn-secondary" data-toggle="collapse" href="#planer" role="button" aria-expanded="false" aria-controls="collapseExample">Planer</a>
              </div>
              <div class="p-2 bd-highlight">
                <a data-toggle="collapse" href="#explaination" role="button" aria-expanded="false" aria-controls="collapseExample">
                  <i class="fa fa-exclamation-circle" aria-hidden="true" style="color: orange;"></i>
                </a>
              </div>
              
            </div>
          </form>

<!-- tabela ofert -->
          <table class="table">
            <tbody>
<!-- do tr należy dodać th:each i w odpowiednich miejscahc th:text i th:href-->
                <tr class="row-offer warning" th:each = "offer : ${offers}"><!-- tu należy dodać th:each -->
                  <!--  th:classappend="${expected > offer.area } ? 'warning' :'' " -->
                  
                  <table class="offer" th:classappend="${expected != null && expected > offer.area} ? 'warning' :'' " >
                    <tbody>

                      <tr>
                        <td class="offer-img text-center" rowspan="2" style="color: aliceblue;">
                          <a th:href="|/offer/${offer.id}|"> <!-- tu należy dodać th:href -->
                            <!-- <img src="/images/offers_images/background.jpg" height="150px" width="250px" alt="offer's image" style="border-radius: 25px;"> -->
                          </a>
                        </td>
                        <td class="text-left offer-title" colspan="2" style="padding-left: 20px;">
                          <a th:href="|/offer/${offer.id}|" th:text = "${offer.title}" style="max-width: 520;"></a>
                        </td>
                        <td class="text-right" colspan="2" style="padding-right: 20px;">
                          <div th:if = "${expected != null}">
                            <span th:text = "${offer.area*100/expected &lt 100} ? |${offer.area*100/expected}%| : ''"></span>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class = "text-left" style="padding-left: 20px; width: 200px;">
                          <span th:text = "|${#numbers.formatDecimal(offer.area, 0, 'WHITESPACE', 0,'COMMA')} m2|" ></span>
                        </td>
                        <td class = "text-center" rowspan="2" th:text = "|${offer.address.city.name}, ${offer.address.country.name}|"></td> 
                        <td class = "text-right" style="padding-right: 20px; width: 200px;">
                          <span th:text = "|${#numbers.formatDecimal(offer.price, 0, 'WHITESPACE', 0,'COMMA')} zł|"></span>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                
                </tr>

            </tbody>
          </table>
        
        </div>

      </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>