<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorator="layout">
  <head>
    <title>Oferty</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/offer.css">

    <script>
      function myFunction() {
        /* Get the text field */
        var copyText = document.getElementById("myInput");
        /* change type to text to make it possible to copy */
        copyText.type = 'text';
        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /* For mobile devices */
        /* Copy the text inside the text field */
        document.execCommand("copy");
        /* change type to hidden to make it invisible */
        copyText.type = 'hidden';
        /* Alert the copied text */
        alert("Skopiowany e-mail: " + copyText.value);
      }
    </script>

  </head>
  <body>
      <section layout:fragment="content">
        <div class="offer-content">
          <div class="container">
<!-- tytuł -->
            <div class="col-md form-group d-flex justify-content-center title">
              <h3 th:text = "${offer.title}"></h3>
            </div>
<!-- surface / price placement -->
            <div class="form-inline form-group">
              <div class="col-md d-flex justify-content-start">
                <div class="col-md-7 d-flex justify-content-center el" th:text = "|Powierzchnia: ${#numbers.formatDecimal(offer.area, 0, 'WHITESPACE', 0,'COMMA')} m2|"></div>
              </div>
              <div class="col-md d-flex justify-content-end">
                <div class="col-md-7 d-flex justify-content-center el" th:text = "|Cena: ${#numbers.formatDecimal(offer.price, 0, 'WHITESPACE', 0,'COMMA')} zł|"></div>
              </div>
            </div> 
<!-- miejsce na obrazek -->
            <div style="margin-top: 200px;"></div>
<!-- plot type, drive type, surrounding -->
            <div class="col-md">
              <label class="col-md">Szczegóły</label>
            </div>
            <div class="form-inline form-group col-md">
                <div class="col-md d-flex justify-content-center el" th:text = "|Działka: ${offer.plotType.name}|"></div>
                <div class="col-md d-flex justify-content-center el" th:text = "|Okolica: ${offer.surrounding.name}|"></div>
                <div class="col-md d-flex justify-content-center el" th:text = "|Dojazd: ${offer.driveType.name}|"></div>
            </div>
<!-- length, width, building, fence -->
            <div class="form-inline form-group col-md d-flex justify-content-center">
              <div class="col-md d-flex justify-content-center el" th:text = "|Szerokość: ${#numbers.formatDecimal(offer.width, 0, 'WHITESPACE', 0,'COMMA')} m|"></div>
              <div class="col-md d-flex justify-content-center el" th:text = "|Długość: ${#numbers.formatDecimal(offer.length, 0, 'WHITESPACE', 0,'COMMA')} m|"></div>
              <div class="col-md d-flex justify-content-center el" th:text = "${offer.fence} == ${true} ? 'Ogrodzenie':'Brak ogrodzenia'"></div>
              <div class="col-md d-flex justify-content-center el" th:text = "${offer.building} == ${true} ? 'Budynek':'Brak budynku'"></div>
          </div>
<!-- description placement -->
            <div class="form-group col-md" style="margin-top: 50px;">
              <label class="col-md">Opis</label>
              <div class="col-md d-flex justify-content-center el" th:text = "${offer.description}"></div>
            </div>
<!-- date placement -->
            <div class="form-group col-md">
              <label class="col-md-2">Data dodania</label>
              <span class="col-md-2 d-flex justify-content-center form-group el" th:text = "${#dates.format(date.date, 'dd-MM-yyyy')}"></span>
            </div>
            <div class="d-flex justify-content-center form-group">
              <a href="/offers" class="btn btn-secondary" style="margin-right: 5px;">Powrót</a>
              <input type="hidden" id="myInput" th:value="${email}">
              <a th:href="|mailto:${email}|" class="btn btn-success" onclick="myFunction()">Mail sprzedającego</a>
            </div>
          </div>
        </div>
      </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>